RewriteEngine On

<ifmodule mod_rewrite.c>
	# 주소 줄이기
		
	RewriteRule /sub/error/ /sub/error/index.php [NC,L]
	RewriteRule /m/sub/error/ /m/sub/error/index.php [NC,L]
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^([^\.]+)$ $1.php [NC,L]
</ifmodule>